
    /*PAGE SETUP*/

*{
    margin: 0%;
    padding: 0%;
}

html{
    font-size:16px ;
}

body{
    background: linear-gradient(to bottom, #336699 0%, #000066 120%);
}

    /*SOURCES*/

@font-face {
    font-family: Indie;
    src: url(fonts/IndieFlower-Regular.ttf);
}

@font-face {
    font-family:Palette;
    src: url(fonts/PaletteMosaic-Regular.ttf);
}
@font-face {
    font-family:Amatic;
    src: url(fonts/SecularOne-Regular.ttf);
}

    /*MAIN TITLE*/

#titulo1{
    background-color: white;
    padding: 2%;
    border-radius: 7%;
    width: 60%;
    margin: 3% auto; 
}
h1{
    font-family:Palette;
    text-align: center;
    }

    /*NAVEGATION MENU*/

    nav{
        background-color: white;
        width: 40%;
        margin: auto;
        padding: 2%;
        border-radius: 3%;
    }
    
    ul{
        width:100%;
        list-style: none;
       margin: auto;
        padding: 0;
        text-align: center;
        }
    
    li{
     
       color: black;
       float: left;
    }
    
    #li1{
        
        margin-left: 20%;
    }

    #li2{
       
        margin-left: 20%;
    }

    #li3{
      
        margin-left: 20%;
    }
        a{
            text-decoration: none;
            text-align: center;
           
        }
        li:hover{
            background-color:#336699 ;
            border-radius: 10%;
        }

    /*MOBILE NAVEGATION MENU*/

        .container{
            display: block;
            margin: auto;
           
        
        }
        
        #checkbox-menu{
            opacity: 0;
            position: absolute;
        }
        
        label{
            cursor: pointer;
            position: relative;
            display: block;
            height: 22px;
            width: 30px;
            
        }
        
        label span {
            position: absolute;
            display: block;
            height: 5px;
            width: 100%;
            border-radius: 30px;
            background-color: white;
            transition: 0.25s;
            display: none;
        }
        
        label span:nth-child(1){
            top:0px;
        }
        
        label span:nth-child(2){
            top:8px;
        }
        
        label span:nth-child(3){
            top:16px;
        }
        
        #checkbox-menu:checked + label span:nth-child(1){
            transform: rotate(-45deg);
            top: 8px;
        }
        
        #checkbox-menu:checked + label span:nth-child(2){
            opacity: 0;
        }
        
        #checkbox-menu:checked + label span:nth-child(3){
            transform: rotate(45deg);
            top: 8px;
        }
        
        
        
            #checkbox-menu:checked ~ nav{
                display: block;
                
            }
        
            #checkbox-menu:checked ~ header{
                display: none;
                
            }

    /*DIVIDING LINE*/

    hr{
        width: 70%;
        margin: 4% auto 8%
    }

    /*Content*/

    section{
        background: rgba(255, 255, 255, 0.836);
        width: 80%;
        margin: auto;
        border-radius: 20px;
    
    }
    
    h2{
        font-family: Indie;
        text-align: center;
        font-size: 2rem;
    
    
    }
    
    
    #logo{
        width: 15%;
        float: left;
        margin-right: 3%;
        border-radius: 50%;
        transform: translateY(-8%);
        position: relative;
        z-index: 0;
        
        
    }
    
    h3{
        font-family: Indie;
        text-align: center;
        font-size: 2em;
    }
    
    p{
        font-family:Arial, Helvetica, sans-serif;
        text-align: justify;
        margin:auto 10% 2%;
        line-height: 140%;
    }

    /*FOOTER*/

    footer{

        background: rgba(255, 255, 255, 0.836);
        width: 90%;
        margin: 5% auto;
        border-radius: 20px;
        
    }
    
    .textfooter{
        text-align: center;
       transform: translateY(40px);
        
    }
    .logosocial{
    width: 30%;
    margin-right: auto;
    }
    
    
    .social{
    width: 2em;
    display: inline-block;
    margin: 0px 0px 0% 8%
    
    }

    /*RESPONSIVENESS*/


    @media screen and (max-width:1510px) {
       
        li{
            font-size: 0.8rem

    }

    @media screen and (max-width:710px) {
       
     h1{
         font-size: 1.3rem;
     }

    }

    @media screen and (max-width:640px) {

        body{
            margin-top: 10px;
            
        }
        label span{
            display: flex;
         position: absolute;
         left: 10px;
         
        }
       
        
        #titulo1{
            font-size: 0.5rem;
        }

        nav{
            background: linear-gradient(to bottom, #336699 0%, #000066 120%);
              width: 100%;
              height: 100%;
              border-radius: 0;
              margin: 0;  
              display: none;
              position: fixed;
              z-index: 1;
          }

          li:hover{
            background-color:#746a6a ;
            border-radius: 10%;
            
        }
        hr{
          display: block;
          margin-top: 9%;
        }

        li{
            display: block;
            font-size: 4rem;
          margin-top: 20%;
          background-color: white;
          border-radius: 10%;
        }

       
      
        a{
            text-decoration: none;
            text-align:center ;
        }
        #logo{
            display: none;
        }

        .logosocial{
            
            margin: auto;
            width: 50%;
        
        }

        .textfooter{
            text-align: center;
            font-size: 0.7rem;
           transform: translateY(100%);
           margin-bottom: 30px;
           
            
        }
        
        .social{
        width: 2em;
        margin: 0 0 0 15%;
    }
      }

      @media screen and (max-width:450px){
          
        .social{
            width: 1.3rem;
        }
      }

      @media screen and (max-width:300px){
          
        .social{
            width: 1rem;
        }
        }
    }